ETHERSCAN_API_KEY=
ETHERSCAN_CHAIN_ID=1
COVALENT_API_KEY=
COVALENT_CHAIN_NAME=eth-mainnet
ETHPLORER_API_KEY=
ETH_RPC_URL=
ANALYSIS_TIMEOUT_CONTRACT_MS=4000
ANALYSIS_TIMEOUT_LIQUIDITY_MS=3000
ANALYSIS_TIMEOUT_HOLDERS_MS=3500
ANALYSIS_TIMEOUT_HONEYPOT_MS=2500
